@model List<ProjectGetVM>

<div class="container">
	<div class="row">
			<div><h2>Projects Table</h2></div>
			<a asp-action="Create" class="btn btn-success">Create</a>
		<table class="table table-dark table-striped">
			
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Category</th>
					<th scope="col">Image</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var project in Model)
				{
					<tr>
						<th scope="row">@project.Id</th>
						<td>@project.Title</td>
						<td><img src="~/assets/images/@project.ImagePath"/></td>
						<td>@project.CategoryName</td>
						<td>
							<a asp-action="Update" asp-route-id="@project.Id" class="btn btn-warning">Update</a>
							<a asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger">Delete</a>
						</td>
					</tr>

				}

			</tbody>
		</table>
	</div>
</div>